@import "../../responsive.scss";

.slider {
  width: 100%;
  height: 350px;
  display: flex;
  gap: 20px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
  }

  .bigImage {
    flex: 3;

    @include sm {
      flex: 2;
    }
  }

  .smallImage {
    flex: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @include sm {
      flex: 1;
    }
    img {
      height: 100px;

      @include sm {
        height: 80px;
      }
    }
  }
}
