@import "./responsive.scss";

.layout {
  background: rgb(255, 255, 255);
  height: 100vh;
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  @include lg {
    background: greenyellow;
  }

  @include md {
    background: gold;
  }

  @include sm {
    background: red;
  }
}
